.App {
  text-align: center;
  margin-top: 50px;
  margin-right: 70px;
  margin-left: 70px;
}

.create {
  margin-top: 30px;
  margin-left: 70px;
}
.form {
  margin-top:40px;
  margin-left:20px;
  margin-right:20px;
}

.custom-modal-style {
width: 1000px;
height: 802px;
}
.faTrash {
  margin-left: 20px;
}